body{
    background-color: #232020;
}

.mainwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-size: 'cover';

}

.mainwrapper input {
    outline: none;
}

.sperate h2 {

    width: 100%;
    text-align: center;
    border-bottom: 2px solid #d1d3d3;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 14px;
    color: #d1d3d3;
}

.sperate h2 span {
    background: #fff;
    padding: 0 5px;
}


.box {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    min-height: 200px;
    width: 50vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
  }